/* css reset: followed mostly the suggestions by Josh Comeau */
/* see https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

/* end of reset */

ul,
li {
  list-style: none;
}

.container {
  max-width: 75%;
  margin-inline: auto;

  display: grid;
  grid-template-columns: 1fr 4fr;
}

.side-bar {
  display: grid;
  align-content: start;
  gap: 30px;
}

header {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
}

.header-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
