/* css reset: followed mostly the suggestions by Josh Comeau */
/* see https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

/* end of reset */

:root {
  --primary-color-1: #fff;
  --primary-color-2: #e2e8f0;
  --primary-color-3: #1992d4;

  --secondary-color-1: #101010;
  --secondary-color-2: #e5f2f9;
  --secondary-color-3: #636363;
  --accent-color-1: #f0b429;

  --bg-body: #111;
  --bg-content: var(--primary-color-2);
  --bg-header: var(--primary-color-1);
  --bg-cards: var(--primary-color-1);
  --bg-sidebar: var(--primary-color-3);

  --bg-buttons: var(--primary-color-3);
  --bg-input: var(--primary-color-2);

  --text-clr-1: var(--secondary-color-1);
  --text-clr-2: var(--secondary-color-2);
  --text-clr-3: var(--secondary-color-3);
}

body {
  background: var(--bg-body);
  font-family: system-ui, sans-serif;
}

ul,
li {
  list-style: none;
}

button {
  background-color: var(--bg-buttons);
  color: var(--text-clr-2);
  border: none;
}


.container {
  max-width: 75%;
  margin-inline: auto;

  display: grid;
  grid-template-columns: 1fr 4fr;
}

.side-bar {
  background-color: var(--bg-sidebar);
  color: var(--text-clr-2);
  display: grid;
  align-content: start;
  gap: 30px;
}

header {
  background-color: var(--bg-header);
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
}

.header-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content {
  background-color: var(--bg-content);
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  background-color: var(--bg-cards);
}

.side-content {
  display: grid;
  gap: 30px;
}
